/*https://fonts.google.com/earlyaccess*/
@import url(//fonts.googleapis.com/earlyaccess/thabit.css);
@import url(//fonts.googleapis.com/earlyaccess/notonastaliqurdu.css);

@media only screen and (min-width: 600px) {
    .container {
        width: 512px;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    cursor: pointer;
}

.dark {
    background-color: #333333;
}

.info {
    background-color: lightgoldenrodyellow;
    border-bottom: 1px solid orange;
}

.center-text {
    text-align: center;
}

.font-h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: -1px;
    word-spacing: 0px;
    color: ghostwhite;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    text-shadow: 0 0 4px gray;
    line-height: 75%;
}

.font-element {
    font-family: 'Noto Nastaliq Urdu', serif;
    letter-spacing: -1px;
    word-spacing: 0px;
    font-weight: 700;
}

.font-label {
    text-align: right;
    font-family: 'Thabit', monospace;
    font-size: small;
    color: black;
    line-height: 75%;
}

hr {
    border-top: 1px solid lightslategray;
    box-shadow: 0 0 2px lightslategray;
}