html, body {
    background-color: #33333311;
    height: 100%;
}

.dark {
    background-color: #444444;
}

.center-text {
    text-align: center;
}

.font-h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: -1px;
    word-spacing: 0px;
    color: ghostwhite;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    text-shadow: 0 0 4px gray;
}

.font-element {
    letter-spacing: -1px;
    word-spacing: 0px;
    font-weight: 700;
}

.font-label {
    letter-spacing: -1px;
    word-spacing: 0px;
    font-weight: normal;
    font-size: 1.1em;
    color: #111111;
}